.home-container {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 10px;
    color: var(--text-primary);
    isolation: isolate;
    text-align: center;
    font-size: 32px;
    
}

.home-container p {
    margin-bottom: 1rem;
}

.timeline-graph {
    background-color: var(--blur-background);
    -webkit-backdrop-filter: blur(var(--blur-amount));
    backdrop-filter: blur(var(--blur-amount));
    border-radius: var(--border-radius-md);
    transition: all 0.2s ease;
    margin: 1rem 0;
}

.recent-messages {
    margin: 1rem 0;
}

.recent-messages h3 {
    color: #ffffff;
    margin-bottom: 1rem;
}

.messages-list {
    display: grid;
    gap: 1rem;
}

.recent-message-card {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    background-color: var(--blur-background);
    -webkit-backdrop-filter: blur(var(--blur-amount));
    backdrop-filter: blur(var(--blur-amount));
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.45rem;
    text-align: left;
}

.recent-message-card:hover {
    transform: scale(1.01);
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.message-meta {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: 100%;
}


.message-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    align-self: start;
}

.message-author {
    font-weight: bold;
    color: var(--accent-blue);
    font-size: 1.37rem;
}

.message-channel {
    color: #cfd4db;
    font-size: 1.3rem;
}


.message-time {
    color: #9ca3af;
    font-size: 1.3rem
}

.message-stats {
    display: flex;
    gap: 1rem;
    color: #9ca3af;
    font-size: 1.2rem;
    margin-left: auto;
}

.message-content-home {
    color: #e0e0e0;
    word-break: break-word;
    line-height: 1.4;
    font-size: 1.35rem;
}

.message-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chart-container {
    background-color: var(--blur-background);
    -webkit-backdrop-filter: blur(var(--blur-amount));
    backdrop-filter: blur(var(--blur-amount));
    padding: 1.5rem;
    border-radius: var(--border-radius-md);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

.chart-container h3 {
    color: #ffffff;
    margin-bottom: 1rem;
}

.stats-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}




.welcome-message,
.timeline-graph,
.recent-message-card,
.chart-containers {
  background-color: var(--blur-background);
  backdrop-filter: blur(var(--blur-amount));
  -webkit-backdrop-filter: blur(var(--blur-amount));
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}



@media screen and (max-width: 768px) {
    .body-content {
        margin-top: 0;
        padding-top: 0;
    }
    .welcome-message{
        padding: 10px;
    }

    .home-container {
        padding: 0 0.5rem;
        font-size: 28px;
        margin: 0 auto;
    }

    .message-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.1rem;
    }

    .message-meta {
        flex-wrap: wrap;
        gap: 0;
    }

    .message-stats {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 1.2rem;
        margin-left: 0;
    }

    .message-stats span {
        text-align: right;
    }

    .chart-container {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .recent-message-card {
        grid-template-columns: 40px 1fr;
        gap: 0.75rem;
    }

    .message-avatar {
        width: 40px;
        height: 40px;
    }
    .message-channel {
        font-size: 1.3rem;
        padding-right: 5px;
    }
    .message-content-home {
        font-size: 1.35rem;
    }
    .message-author {
        font-size: 1.37rem;
        padding-right: 5px;
    }
    .message-time {
        font-size: 1.2rem;
        padding-right: 5px;
    }
}